<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dlmbg.pckg.aes.enkripsi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Aes Enkripsi" >
        <activity
            android:name=".AesEnkripsiActivity"
            android:label="Aes Enkripsi" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="EnkripsiActivity" android:label="Start Enkripsi dan Dekripsi"></activity>
    </application>

</manifest>